/* Main Section */
.destination--hawaii{
    height: 100vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/assets/Images/hawaii.jpg);
    background-size: cover;
    background-position: 30%;
    padding-top: 8rem;
}

.destination--iceland{
    height: 100vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/assets/Images/iceland.jpg);
    background-size: cover;
    background-position: 30%;
    padding-top: 8rem;
    
}

.destination--greece{
    height: 100vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(/assets/Images/greece.jpg);
    background-size: cover;
    background-position: 30%;
    padding-top: 8rem;
    
}

.destination__card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 260px;
    max-width: 280px;
    min-height: 370px;
    max-height: 390px;
    margin: 20px;
    background-color: white;


}

.destination__card-activity{
    list-style: none;
    
}

.destination__card-activity--day{
    text-align: center;
    margin: -2.5rem 1rem 0 1rem;
    border-bottom: 2px solid black;
    font-weight: bold;
    

}

.destination__card-activity--item{
    text-align: center;
    padding: 1rem 4.5rem;
    margin: 1rem;
    background-color:#FEFAF5;
    font-weight: lighter;
}

.destination__country{
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 5%;
    left: 5%;
    margin-left: -.5rem;

    
}